[flake8]
# EyePoint is really complex. And it is not possible to make it simple at once.
# If you see this comment, ask the main developer to decrease this value.
# May be it is time to 14 do this.
max-complexity = 17
inline-quotes = double
multiline-quotes = """ 
builtins = _
verbose = 2
max-line-length = 120

# Files and folders ignore list
# -----------------------------
# Add comments for all ignored files and folders to justify the common standard violation
exclude = 
          # Git internal folder`
          .git,
          # Mercurial internal folder
          .hg,
          # Python temporary files
          __pycache__,
          # External dependencies
          venv,
          # Auxiliary scripts, not the main project code
          tools/*
          # External project
          epplatform/pyximc.py,
          # External project
          oscilloscope/ivm.py

# Violations ignore list
# ======================
# Add comments for all ignored rules to justify the common standard violation
# extend-ignore =
    # doxygen comments are used in python files
    # E266,
    # @overload is used
    # F811,
